src/common/Demo.CarTrade.Services.Client/Connected Services/BrandManagementService/BrandManagementService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Demo.CarTrade.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Demo.CarTrade.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBrand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Brand" nillable="true" type="tns:Brand" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrand" nillable="true" type="tns:ArrayOfBrand" />
  <xs:complexType name="Brand">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrandHeadQuarter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrandID" type="xs:int" />
      <xs:element minOccurs="0" name="BrandLogo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarsCollection" nillable="true" type="tns:ArrayOfCar" />
      <xs:element minOccurs="0" name="NumberOfEmployees" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Revenue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Brand" nillable="true" type="tns:Brand" />
  <xs:complexType name="ArrayOfCar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Car" nillable="true" type="tns:Car" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCar" nillable="true" type="tns:ArrayOfCar" />
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aspiration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BodyStyle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrandID" type="xs:int" />
      <xs:element minOccurs="0" name="CarID" type="xs:int" />
      <xs:element minOccurs="0" name="CityMilleage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompressionRatio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriveWheels" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EngineLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EngineSize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FuelSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FuelType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HighwayMilleage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HorsePower" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Length" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModelYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfCylinders" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeakRPM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WheelBase" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="tns:Car" />
</xs:schema>